<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
 <appSettings>

    
    

    <!-- Server side settings -->

    <add key="AadTenant" value="your AadTenant" />
    <add key="AzureAuthEndpoint" value="https://login.windows.net" />
    <add key="AzureClientId" value="Your AzureClientId" />
    <add key="AzureClientsecret" value="Your AzureClientsecret" />
    <add key="AzureAppID" value="Your AzureAppID" />
    <add key="FOUri" value="https://yoururladevaos.cloudax.dynamics.com" />
    

    <!-- Data transfer settings -->

    <add key="RecurringJobId" value="your RecurringJobId" />
    <add key="EntityName" value="Exchange rates" />
    <add key="IsDataPackage" value="false" />
    <add key="Company" value="USMF" />
   

  </appSettings>
</configuration>